Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
redis
celery
django-celery-beat
django-filter
gunicorn
django-unfold
weasyprint
djangorestframework_simplejwt
dj-database-url
python-decouple
whitenoise
twilio